body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

.container {
	margin-top: 50px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 70px;
  color: #18293c;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.socialmediaicons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmediaicons ul li {
  display: inline-block;
  margin-left: 5px;
}

.socialmediaicons ul li img {
  width: 30px;
  border-radius: 50%;
}

.socialmediaicons {
  text-align: center;
}
