#myTable input {
	margin-left: 5px;
}

#myTable {
	border: 2px solid green;
	border-collapse: collapse;
	margin: 30px 30px 20px 40px;
}

#myTable td,
th {
	border: 1px solid green;
	padding: 5px;
}

#myTable th {
	color: #fff;
	background-color: #a7c942;
}

#button {
	color: white;
	background-color: #a9a9a9;
	border-radius: 3px;
	border: 1px solid #d2d2d2;
	margin: 20px;
	padding: 10px 20px;
}

#add {
	color: 'black';
	background-color: '#6b6e70';
	border-radius: 3px;
	border: 1px solid #d2d2d2;
	margin: 20px;
	padding: 10px 20px;
}

.table-content,
.btns {
	display: flex;
	justify-content: center;
}

.del {
	margin-left: 7px;
}

.dropDownTextArea {
	display: none;
}

.edit {
	display: none;
}

.del {
	display: none;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border: none;
	border-radius: 5px;
	width: 15%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	text-align: left;
}

#editModalTitle {
	font-weight: bold;
	font-size: 20px;
}

#studentDetails {
	font-size: 16px;
}

.modal-content button {
	padding: 10px 20px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}


.modal-content button.update-btn {
	background-color: #4CAF50;
	color: white;
}


.modal-content button.cancel-btn {
	background-color: #f44336;
	color: white;
}