  // Custom Properties (CSS Variables)
  :root {
    --color-1: #0b0e10;
    --color-2: #fff;
    --color-3: #333;
    --color-4: aliceblue;
    --color-5: #222f3e;
    --color-6: #ff9f43;
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, sans-serif;
    --background-color-1: #b2f0e8;
    --background-color-2: #0b0e10;
    --background-color-3: #fff;
    --background-color-4: #000;
    --background-color-5: rgba(194, 194, 194, 0.713);
  }