// Variables
$color_1: #0b0e10;
$color_2: #fff;
$color_3: #333;
$color_4: aliceblue;
$color_5: #222f3e;
$color_6: #ff9f43;
$font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, sans-serif;
$background-color_1: #b2f0e8;
$background-color_2: #0b0e10;
$background-color_3: #fff;
$background-color_4: #000;
$background-color_5: rgba(194, 194, 194, 0.713);